a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.page-header {
  background-color: #ffffff;
}

.logo {
  color: #212121;
}

.logo-web {
  color: #2196f3;
}

.title {
  background-color: #2f303a;
}

/* Цвет основного текста #212121 */
/* Цвет текста подписей #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет фона хедера #FFFFFF */
/* Цвет фона преймущества и чем занимаемся #E5E5E5 */
/* Цвет фона наша команда #F5F4FA */
/* Цвет фона заглавия и футера #2F303A */
/* Цвет почты и телефона в футере rgba(255, 255, 255, 0.6) */
