:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* Main sections */
